.datepicker {
  z-index: 9999;
  display: block;
  position: relative;
  color: #222;
  border: 1px solid #d9d9d9;
  font: 13px arial, sans-serif;
}

  .datepicker::before,
  .datepicker::after {
    content: '';
    display: table;
  }

  .datepicker::after {
    clear: both;
  }

  .datepicker.is-hidden {
    display: none;
  }

  .datepicker.is-bound {
    position: absolute;
    -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .1);
            box-shadow: 1px 2px 5px rgba(0, 0, 0, .1);
  }

  .datepicker__lendar {
    float: left;
    width: 320px;
    margin: 8px;
  }

  .datepicker__title {
    position: relative;
    text-align: center;
  }

  .datepicker__title select {
      cursor: pointer;
      position: absolute;
      z-index: 9998;
      margin: 0;
      left: 0;
      top: 5px;
      opacity: 0;
    }

  .datepicker__label {
    display: inline-block;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #333;
    background-color: #fff;
  }

  .datepicker__prev,
  .datepicker__next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
  }

  .datepicker__prev:hover, .datepicker__next:hover {
      opacity: 1;
    }

  .datepicker__prev.is-disabled, .datepicker__next.is-disabled {
      cursor: default;
      opacity: .2;
    }

  .datepicker__select {
    display: inline-block;
  }

  .datepicker__table {
    width: 100%;
    border-spacing: 0;
    border: 0;
    padding: 9px 3px 7px;
  }

  .datepicker__table th,
    .datepicker__table td {
      padding: 0;
    }

  .datepicker__table th {
      color: #aaa;
      font-size: 12px;
      line-height: 25px;
      font-weight: bold;
      text-align: center;
    }

  .datepicker__table abbr {
      border-bottom: none;
    }

  .datepicker__button {
    cursor: pointer;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 14px;
    color: #000;
    font-weight: bold;
    line-height: 15px;
    text-align: right;
    background: transparent;
  }

  .datepicker__button:hover {
      background-color: #ebebeb;
    }

  .datepicker td {
    border: 1px solid transparent;
    text-align: center;
  }

  .datepicker td.is-disabled .datepicker__button,
  .datepicker td.is-outside-current-month .datepicker__button {
    pointer-events: none;
    cursor: default;
    color: #aaa;
  }

  .datepicker td.is-selected {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-color: #5498fb;
  }

  .datepicker__week {
    font-size: 11px;
    color: #aaa;
  }

.datepicker__prev,
.is-rtl .datepicker__next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
}

.datepicker__next,
.is-rtl .datepicker__prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
}

.plainPicker {
  width: 200px;
}
