.datepicker {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.datepicker.is-hidden {
  display: none;
}

.datepicker.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}

.datepicker {
  *zoom: 1;
}

.datepicker::before,
.datepicker::after {
  content: '';
  display: table;
}

.datepicker::after {
  clear: both;
}

.datepicker__lendar {
  float: left;
  width: 320px;
  margin: 8px;
}

.datepicker__title {
  position: relative;
  text-align: center;
}

.datepicker__title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.datepicker__label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
}

.datepicker__prev,
.datepicker__next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  *position: absolute;
  *top: 0;
}

.datepicker__prev:hover,
.datepicker__next:hover {
  opacity: 1;
}

.datepicker__prev.is-disabled,
.datepicker__next.is-disabled {
  cursor: default;
  opacity: .2;
}

.datepicker__prev,
.is-rtl .datepicker__next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0;
}

.datepicker__next,
.is-rtl .datepicker__prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0;
}

.datepicker__select {
  display: inline-block;
  *display: inline;
}

.datepicker__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.datepicker__table th,
.datepicker__table td {
  width: 14.285714285714286%;
  padding: 0;
}

.datepicker__table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}

.datepicker__table abbr {
  border-bottom: none;
}

.datepicker__button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  // padding: 5px;
  padding: 14px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  // background: #f5f5f5;
  background: transparent;
}

.is-today .datepicker__button {
  color: #3af;
  font-weight: bold;
}

.is-selected .datepicker__button {
  color: #fff;
  font-weight: bold;
  background: #3af;
  // box-shadow: inset 0 1px 3px #178fe5;
}

.is-disabled .datepicker__button,
.is-outside-current-month .datepicker__button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
}

.datepicker__button:hover {
  // color: #fff;
  background: #eee;
  box-shadow: none;
}

.datepicker__week {
  font-size: 11px;
  color: #999;
}

.is-inrange .datepicker__button {
  background: #d5e9f7;
}

.is-startrange .datepicker__button {
  color: #fff;
  background: #6cb31d;
  box-shadow: none;
}

.is-endrange .datepicker__button {
  color: #fff;
  background: #3af;
  box-shadow: none;
}
